.ml3 {
  font-weight: 900;
  font-size: 3.5em;
  font-color: white;
}

.ml1 {
  font-weight: 600;
  font-size: 1.8em;
  color: #ff8501 ;
}

.ml2 {
  font-weight: 400;
  font-size: 1.3em;
  color: #c69839 ;
}
/* RoadMap */
.list-wrapper {
  position:relative;
}
.list-item-wrapper {
  margin-top:40px;
  position:relative;
}
.list-bullet {
  float:left;
  margin-right:20px;
  background:#FF4949;
  height:40px;
  width:40px;
  line-height:30px;
  border-radius:100px;
  font-weight:700;
  color:white;
  text-align:center;
}
.list-item {
  display:table-row;
  vertical-align:super;
}
.list-title {
    font-weight:700;
}
.list-text {
    font-weight:400;
}
.red-line {
  background:#FF4949;
  z-index:-1;
  width:10px;
  height:85%;
  position:absolute;
  left:15px;
}

.round{
  border-radius: 50%;
}

@media screen and (max-width: 992px){
  .red-line{
    background:#FF4949;
    z-index:-1;
    width:10px;
    height: 80px;
    position:relative;
    left:15px;
  }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  text-align: left;
  background: var(--about-bg-color);
  overflow: hidden;
}

.faq{
	background: var(--about-bg-color);
}

/*
*
* Boiler Plate stuff 
*
*********************************/
:root {
  --movie-width: 15.5vw;
  --movie-height: 300px;
  --arrow-width: 50px;
  --slider-py: 50px;
}
@media only screen and (max-width: 1000px) {
  :root {
    --movie-width: 50vw;
  }
}

body {
  background-color: #141414;
  font-family: "Heebo", sans-serif;
}

.containers {
  position: relative;
}

.logo {
  font-size: 4rem;
  text-align: center;
}

/*
*
* THE SLIDER containers
*
*********************************/
.slider {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  position: relative;
  padding-top: var(--slider-py);
  padding-bottom: var(--slider-py);  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slider::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 900px) {
  .btn-nav {
    display: none!important;
  }
}


/*
*
* MOVIE ELEMENTS!
*
*********************************/
.movie {
  width: var(--movie-width);
  height: var(--movie-height);
  display: inline-block;
  position: relative;
  color: white;
  padding: 0 2px;
  font-size: 0.8rem;
  transition: all 0.8s ease-in-out;
}

.movie:nth-of-type(1) {
  margin-left: var(--arrow-width);
}

.movie img {
  object-fit: fill;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.description {
  position: absolute;
  display: none;
  z-index: 9999;
  background-color: #272727;
  width: var(--movie-width);
  margin-top: -10px;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media only screen and (min-width: 900px) {
  .movie:hover {
    transform: scale(1.2);
    z-index: 2;
  }

/*
*
* BUTTONS
*
*********************************/
.btn-nav {
  width: var(--arrow-width);
  height: var(--movie-height);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  color: white;
  top: var(--slider-py);
  z-index: 5;
  visibility: hidden;
}

#moveLeft {
  left: 0;
}

#moveRight {
  right: 0;
}
	
@media only screen and (min-width: 901px) {
  .containers:hover .btn-nav,
  .containers:hover .containers-indicators {
    visibility: visible;
  }
}
