.ml3 {
  font-weight: 900;
  font-size: 3.5em;
  font-color: white;
margin-left: auto;
margin-right: auto;
}

.ml1 {
  font-weight: 600;
  font-size: 1.8em;
  color: #ff8501 ;
}

.ml2 {
  font-weight: 400;
  font-size: 1.3em;
  color: #c69839 ;
}
/* RoadMap */
.list-wrapper {
  position:relative;
}
.list-item-wrapper {
  margin-top:40px;
  position:relative;
}
.list-bullet {
  float:left;
  margin-right:20px;
  background:#FF4949;
  height:40px;
  width:40px;
  line-height:30px;
  border-radius:100px;
  font-weight:700;
  color:white;
  text-align:center;
}
.list-item {
  display:table-row;
  vertical-align:super;
}
.list-title {
    font-weight:700;
}
.list-text {
    font-weight:400;
}
.red-line {
  background:#FF4949;
  z-index:-1;
  width:10px;
  height:85%;
  position:absolute;
  left:15px;
}

.round{
  border-radius: 50%;
}

@media screen and (max-width: 992px){
  .red-line{
    background:#FF4949;
    z-index:-1;
    width:10px;
    height: 80px;
    position:relative;
    left:15px;
  }
}

/*
*
* Boiler Plate stuff 
*
*********************************/
:root {
  --movie-width: 300px;
  --movie-height: 300px;
  --arrow-width: 50px;
  --slider-py: 50px;
}
@media only screen and (max-width: 1000px) {
  :root {
    --movie-width: 50vw;
  }
    .control-icon {
  display: none;
  }
  details{
	  padding-bottom:2px;
  }
  summary {
	  padding-bottom:5px;
  }
	.h2f{
	  padding-bottom:5px;
	  text-align:center;
  }
}
@media only screen and (min-width: 412px) and (max-width: 767px) {
	 :root {
    --movie-height: 300px;
	--movie-width: 300px;
  }
	}
.containers {
  position: relative;
}

.logo {
  font-size: 4rem;
  text-align: center;
}

/*
*
* THE SLIDER containers
*
*********************************/
.slider {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  position: relative;
  padding-top: var(--slider-py);
  padding-bottom: var(--slider-py);  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slider::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 900px) {
  .btn-nav {
    display: none!important;
  }
}


/*
*
* MOVIE ELEMENTS!
*
*********************************/
.movie {
  width: var(--movie-width);
  height: var(--movie-height);
  display: inline-block;
  position: relative;
  color: white;
  padding: 0 2px;
  font-size: 0.8rem;
  transition: all 0.8s ease-in-out;
}

.movie:nth-of-type(1) {
  margin-left: var(--arrow-width);
}

.movie img {
  object-fit: fill;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.description {
  position: absolute;
  display: none;
  z-index: 9999;
  background-color: #272727;
  width: var(--movie-width);
  margin-top: -10px;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media only screen and (min-width: 900px) {
  .movie:hover {
    transform: scale(1.2);
    z-index: 2;
  }

/*
*
* BUTTONS
*
*********************************/
.btn-nav {
  width: var(--arrow-width);
  height: var(--movie-height);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  color: white;
  top: var(--slider-py);
  z-index: 5;
  visibility: hidden;
}

#moveLeft {
  left: 0;
}

#moveRight {
  right: 0;
}
	
@media only screen and (min-width: 901px) {
  .containers:hover .btn-nav,
  .containers:hover .containers-indicators {
    visibility: visible;
  }
}


/**************************
Footer
/********************************/

table{
	width: 80%;
	margin-left: auto;
margin-right: auto;
padding:3.5em;
}
td {
  text-align: right;
}
.copy{
    text-align:center;
}

/***********************************
*
*			FAQ
*
*
*************************************/


.h2f {
  margin: 20px auto 80px;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}

details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: #7b7b96;
  font-weight: 500;
  align-items: left;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 10px;
}

summary:focus {
  outline: none;
  
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px rebeccapurple;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: rebeccapurple;
  transition: .3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: .3s ease;
}

details[open] .control-icon-expand {
  display: none;
}
@media only screen and (max-width: 768px) {
   .control-icon {
    visibility: hidden;
  }
}
